if ! has nix_direnv_version || ! nix_direnv_version 2.3.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.3.0/direnvrc" "sha256-Dmd+j63L84wuzgyjITIfSxSD57Tx7v51DMxVZOsiUD8="
fi

# Reload if any of these files change
watch_file flake-shell.nix

use flake

# allow envrc overrides
[[ -f .envrc.local ]] && source_env .envrc.local